openapi: 3.0.1
info:
  title: Widget API
  description: OpenAPI
  version: v1.0
servers:
  - url: http://three-scale-api-3scale-api.apps.shared-na46.openshift.opentlc.com
    description: Generated server url
paths:
  /api/:
    get:
      tags:
        - widget-controller
      summary: Gets all widgets
      operationId: findWidgets
      responses:
        "200":
          description: Returns a list of widgets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Widget'
    put:
      tags:
        - widget-controller
      summary: Save or update widget
      operationId: saveOrUpdateWidget
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Widget'
        required: true
      responses:
        "400":
          description: Widget with invalid values was provided
        "200":
          description: Widget was saved/updated
  /api/{id}:
    get:
      tags:
        - widget-controller
      summary: Get a widget by its id
      operationId: findById
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "400":
          description: Invalid id was provided
        "200":
          description: Returns a widget
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Widget'
        "404":
          description: Widget was not found
    delete:
      tags:
        - widget-controller
      summary: Delete a widget by its id
      operationId: deleteWidget
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Widget was deleted
        "400":
          description: Invalid id was provided
        "404":
          description: Widget was not found
components:
  schemas:
    Widget:
      required:
        - description
        - name
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          maxLength: 80
          minLength: 0
          type: string
        description:
          maxLength: 500
          minLength: 0
          type: string
